@model IEnumerable<WineShopAlberto.Models.ArdoaUpeltegi>

@{
    ViewData["Title"] = "Default";
}

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li><a href="#">@Html.DisplayFor(modelItem => item.UpeltegiIzena)</a></li>
    }
</ul>

<!--
<h1>Default</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpeltegiIzena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpeltegiIzena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
-->

